<div class="header">
    <p>Twitter Clone</p>
    <div>
        <p>Search</p>
        <select >
            <div>
                <option value=""></option>
            </div>
        </select>
    </div>
   
</div>

<div>
    <div>
        <img src="" alt="">
        <p>@samantha</p>
        <p>ramirp.info</p>
        <P>Face to face ...</P>
        <p>Location</p>
    </div>
    <div class="content">
        <div class="post-div">
            <h2>Posts</h2>
            <div class="card">
                <img src="" alt="">
                <div>
                    <p>Name</p>
                    <p>app-display-posts</p>
                    <div>
                        <p>200</p>
                        <p>200</p>
                        <p>200</p>
                    </div>
                </div>
            </div>

        <div class="comments-div">
            <div class="card">
                <img src="" alt="">
                <div>
                    <p>Name</p>
                    <p>app-display-posts</p>
                    <div>
                        <p>200</p>
                        <p>200</p>
                        <p>200</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
        
    </div>
</div>